
body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-color: #1a1a1a;
  margin: 0;
  height: 100%;
  overflow: hidden
  
}

#a {
    position: fixed;
    bottom: 790px;
    left: 800px;
}
  
#b {
    position: fixed;
    bottom: 640px;
    left: 800px;
}
  
#c {
    position: fixed;
    bottom: 490px;
    left: 800px;
}
  
#d {
    position: fixed;
    bottom: 340px;
    left: 800px;
}
  
#e {
    position: fixed;
    bottom: 190px;
    left: 800px;
}
  
#f {
    position: fixed;
    bottom: 40px;
    left: 800px;
}
  
h1 {
	font-family: 'CaviarDreams_Bold', arial, serif; 
	color: white;
}

#aa {
	position: fixed;
	left: 940px;
	top: 15px;
}

#bb {
	position: fixed;
	left: 940px;
	top: 175px;
}

#cc {
	position: fixed;
	left: 940px;
	top: 320px;
}

#dd {
	position: fixed;
	left: 940px;
	top: 475px;
}

#ee {
	position: fixed;
	left: 940px;
	top: 625px;
}

#ff {
	position: fixed;
	left: 940px;
	top: 780px;
}

h2 {
	font-family: 'CaviarDreams', arial, serif; 
	color: #525151;
	font-size: 16px;
}

#aaa {
	position: fixed;
	left: 940px;
	top: 65px;
}

#bbb {
	position: fixed;
	left: 940px;
	top: 225px;
}

#ccc {
	position: fixed;
	left: 940px;
	top: 370px;
}

#ddd {
	position: fixed;
	left: 940px;
	top: 525px;
}

#eee {
	position: fixed;
	left: 940px;
	top: 675px;
}

#fff {
	position: fixed;
	left: 940px;
	top: 830px;
}

#logo {
	position: fixed;
	left: 50px;
	top: 500px;
}

#XD {
	position: fixed;
	left: 430px;
	top: 50px;
	opacity: 5%;
}